<section class="our-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>GOVERNING BOARD</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-courses-item owl-carousel">
                    <% governingContent.forEach(member=> { %>
                        <div class="item">
                            <img src="<%= member.imageUrl %>" style="height: 250px; border-radius: 10px 10px 0px 0px;"
                                alt="">
                            <div class="down-content">
                                <h4>
                                    <%= member.name %>
                                </h4>
                                <div class="info">
                                    <div class="row">
                                        <div>
                                            <%= member.info %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
    </div>
</section>