<div class="footer">
    <!-- <div class="row"> -->
    <div class="text-center text-md-center">
        <span class="text-light">
            <a href="#" class="text-secondary">
                Copyright ©
                <span id="current-year"></span>
                |The International Maritime Institute of Nigeria (IMION), All rights reserved .</a>
        </span>
    </div>
    <!-- </div> -->
</div>