<header class="header-area header-sticky" style="background-color: #312784;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%- include('./navbar.ejs', logoContent) %>
      </div>
    </div>
  </div>
</header>