<!-- Sub Header -->
<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="left-content">
          <p>THIS IS OFFICIAL WEBSITE OF THE INTERNATIONAL MARITIME INSTITUTE OF NIGERIA</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="right-icons">
          <ul>
            <% socialContent.forEach(element => { %>
            <li><a href="<%-element.url %>" target="_blank"><i class="fa fa-<%- element.name %>"></i></a></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>